.cont-card{
    position: relative;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(124, 123, 123);
}
.cont-btn-fav-card{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
}
.cont-carrusel-card{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-card{
    width: 200px;
    height: 200px;
}
.nombre-pala{
    font-size: 20px;
    font-weight: bold;
}