.cont-btn-cerrar-Y-titulo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-cerrar-carrito{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
.cont-prods-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}